body {
  background-color: tan;
}

/*
* -- BANNER
*/
.banner {
  background-color: #394a51;
  text-align: center;
  height: 100px;
  width: 100%;
}
.banner h1 {
  color: white;
  font-size: 2em;
  padding-top: 50px;
}
/*
 * -- Layout Styles --
 */
.l-content {
  margin: 0 auto;
}

.l-box {
  padding: 0.5em 2em;
}

/* Container for the entire page */
.page {
  background-color: #fdc576;
  text-align: center;
  margin: auto;
  padding: 50px;
  padding-top: 10px;
  font-family: "Source Sans Pro", sans-serif;
}

/* Choropleth map container */
#choropleth_map {
  flex-grow: 1; /* Takes up remaining space */
  width: fit-content;
  height: fit-content;
  max-width: 1200px; /* Optional: Max width constraint */
  padding: 0;
}

.vis-container {
  background-color: #fbf2d5;
}
