body {
  background-color: grey;
}

/*
* -- BANNER
*/
.banner {
  background-color: #394a51;
  text-align: center;
  height: 100px;
  width: 100%;
}
.banner h1 {
  color: white;
  font-size: 2em;
  padding-top: 50px;
  padding-bottom: 20px;
}
/*
 * -- Layout Styles --
 */
.l-content {
  margin: auto;
}

.l-box {
  padding: 0.5em 2em;
}

/* Container for the entire page */
.page {
  background-color: #fbf2d5;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
}

/* Choropleth map container */
#choropleth_map {
  flex-grow: 1; /* Takes up remaining space */
  width: fit-content;
  height: fit-content;
  max-width: 1200px; /* Optional: Max width constraint */
  padding: 100px;
}

.vis-container {
  background-color: #fbf2d5;
  border-top-width: 10cap;
}
.text-container {
  background-color: #fbf2d5;
  height: 100px;
}

@media (max-width: 768px) {
  .banner {
    height: 80px; /* Adjust height for smaller screens */
  }
  .text-container {
    height: 80px; /* Adjust height for smaller screens */
  }
  /* Add any other adjustments needed for smaller screens */
}
