/* Ensure body and html take the full height */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Container for the entire page */
.page {
  width: 1024px;
  background-color: white;
  margin: auto;
  padding: 50px;
  padding-top: 10px;
  font-family: "Source Sans Pro", sans-serif;
}

/* Header styling */
.page h1 {
  font-size: 36px; /* Increased font size */
  font-weight: 900; /* Extra bold */
  color: #333333;
  margin-bottom: 30px;
  text-align: center;
}

/* Choropleth map container */
#choropleth_map {
  flex-grow: 1; /* Takes up remaining space */
  width: 100%;
  height: 100%; /* Full height */
  max-width: 1200px; /* Optional: Max width constraint */
  padding: 0;
}

.vis-container {
  width: 100%;
}
